@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.LoadingContainer {
  padding: 20px 0;
}
.loading {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
}

.loading span {
  display: inline-block;
  margin: 0 -0.05em;
}

.loading01 span {
  animation: loading01 1.4s infinite alternate;
}

.loading01 span:nth-child(1) {
  animation-delay: 0s;
}

.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading01 span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .loading {
    font-size: 70px;
  }
}
@media screen and (max-width: 786px) {
  .loading {
    font-size: 60px;
  }
}
@media screen and (max-width: 576px) {
  .loading {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  .loading {
    font-size: 40px;
  }
}
.black::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vi;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.539);
}
